body {
    background-color: #1e3c60;
}
header{
    background-image: url(../imagenes/1.PNG);
    background-repeat: no-repeat;
    height:100px;
    background-size: 80px;
    }
h1 {
    margin:0;
    text-align: center;
    position: relative;
    top:35px;
}
#main {
    position: relative;
    min-height: 100vh;
  }
  
  #todo {
    padding-bottom: 2.5rem;    
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    height: 47px;
     text-align: center ;
     padding: 10px;
     margin-top: 10px;  
     background-color: #71849b;        
  }
  #vista-Uno img{
    width: 600px;
    height: 400px;
    display:block;
    margin:auto;
  }
  #vista-Dos img{
    width: 600px;
    height: 400px;
    display:block;
       margin:auto;
  }
  .mostrar{
      display:block;
  }
  .ocultar{
      display: none;
  }
  #form{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border-radius: 10px;
  }
  .btnLogin {
    background: rgba(192, 235, 255, 0.507);
    color: black;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
    border-radius: 10px;

}
.btnLogin:hover {
    background: #16aab832;
}
#btn-Elegir {
    background: rgba(13, 66, 50, 0.507);
    color: black;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 595px;
    border-radius: 10px;
    position: absolute;
    top: -1%;
    padding: 12px;
}
#btn-Elegir:hover{
    background:  rgba(32, 225, 243, 0.507);
}
#btn-Elegir1 {
    background: rgba(13, 66, 50, 0.507);
    color: black;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 595px;
    border-radius: 10px;
    position: absolute;
    top: 49%;
    padding: 12px;

}
#btn-Elegir1:hover{
    background:  rgba(32, 225, 243, 0.507);
}
.btonReturn{
    background: #89a0bd;
    color: black;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 29px;
    border-radius: 10px;
    position:absolute;
    top:-5%;
}
.btonReturn:hover {
    background: #3e84da;  
}
#elegir{
    margin-top: 80px;
    color: #0bf0ca;
    top:83px;
    margin-left: 350px;
    margin-right: 18px;
    position: absolute;;
    font-size: 45px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btnReturn{
    background: rgba(54, 3, 70, 0.507);
    color: rgb(234, 238, 234);
    font-size: 15px;
    margin-top: -13px;
    margin-left: 55px;
    border-radius: 10px;
    position:absolute;
    top:461px;
    padding: 10px;
}
.btnReturn:hover{
    background: #9876cfaf;
}
#text-result{
    text-align: center;
}
#tex-resultado{
    text-align: center;
}
#letra{
    margin-top: 40px;
    color: rgb(41, 223, 162);
    top:-17px;
    margin-left: 66px;
    margin-right: 18px;
    position:absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#cifra{
    margin-top: 40px;
    color: rgb(41, 223, 162);
    top:-17px;
    margin-left: 730px;
    margin-right: 18px;
    position:absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#letra-cifra{
    margin-top: 40px;
    color: rgb(41, 223, 162);
    top:-17px;
    margin-left: 66px;
    margin-right: 18px;
    position:absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#letra-descifrado{
    margin-top: 40px;
    color: rgb(41, 223, 162);
    top: -17px;
    margin-left: 730px;
    margin-right: 18px;
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
} 
#text-cifra {
    font-size: 25px;
    margin-top: 120px;
    margin-left: 64px;
    border-radius: 10px;
    position: absolute;;
    top:-40px;
    padding: 17px;
}
.text-cifrado {
    font-size: 25px;
    margin-top: 120px;
    margin-left: 730px;
    border-radius: 10px;
    position:absolute;
    top:-40px;
    padding: 33px;
    background-color: white;
    width: 250px;
}
#texto-cifrado{
    font-size: 25px;
    margin-top: 120px;
    margin-left: 64px;
    border-radius: 10px;
    position: absolute;;
    top:-40px;
    padding: 17px;
}
.texto{
    font-size: 25px;
    margin-top: 120px;
    margin-left: 64px;
    border-radius: 10px;
    position:absolute;
    top:-40px;
}


#numro {
    font-size: 25px;
    margin-top: 120px;
    margin-left: 413px;
    border-radius: 10px;
    position:absolute;
    top:29px;
    padding: 0px;
}
#numero{
    font-size: 25px;
    margin-top: 120px;
    margin-left: 413px;
    border-radius: 10px;
    position:absolute;
    top:29px;
    padding: 0px;
}
#ejecutar{
    background: rgba(202, 77, 19, 0.507);
    color: rgb(241, 235, 235);
    font-size: 25px;
    margin-top: 25px;
    margin-left: 518px;
    border-radius: 10px;
    position:absolute;
    top:179px;
    padding: 0px;
}
#ejecutar:hover{
    background: #c1c2ae32;
}
#ejecutar1{
    background: rgba(202, 77, 19, 0.507);
    color: rgb(241, 235, 235);
    font-size: 25px;
    margin-top: 25px;
    margin-left: 518px;
    border-radius: 10px;
    position:absolute;
    top:179px;
    padding: 0px;
}
#ejecutar1:hover{
    background: #c1c2ae32;
}
